<div class="col-md-6 col-sm-12" ng-drag="true" ng-drag-data="#Id">
    <div class="widget">
        <div class="widget-title">
            <h5>
                Charts                
            </h5>
            <div class="dropdown">
                <div class="menu" data-toggle="dropdown"></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row widget-innerdiv">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>
        </div>
    </div>
</div>