<div class="col-md-6 col-sm-6" ng-drag="true" ng-drag-data="#Id">
    <div class="widget">
        <div class="widget-title">
            <h5>
                Foreign Exchange
            </h5>
            <div class="dropdown">
                <div class="menu" data-toggle="dropdown"></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row widget-innerdiv">
            <div class="panel-body">
                <div class="currency-wrapper">
                    <div class="currency-convert">
                        <span class="currency-left color-blue">EUR</span>
                        <i class="glyphicon glyphicon-arrow-right"></i>
                        <span class="currency-right color-blue">USD</span>
                    </div>
                    <div class="currency-alert-div">
                        <span class="currency-span-1">345</span>
                        <i class="glyphicon glyphicon-arrow-down" style="color: yellow; float: right;"></i>
                        <span class="currency-span-2">56</span><small class="small-span">4</small>
                        <span class="currency-span-3">786424</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>