<div class="col-md-6 col-sm-12" ng-drag="true" ng-drag-data="#Id">
    <div class="widget">
        <div class="widget-title">
            <h5>
                Task & Payments
            </h5>
            <div class="dropdown">
                <div class="menu" data-toggle="dropdown"></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row widget-innerdiv">
            <table class="task-payment-table table">
                <thead>
                    <tr>
                        <th class="border-top-less">
                            &nbsp;
                        </th>
                        <th class="border-top-less color-blue" colspan="2">
                            My Transactions
                        </th>
                        <th class="border-top-less color-blue" colspan="2">
                            Overall Transactions
                        </th>
                    </tr>
                    <tr>
                        <th class="border-top-less">
                            &nbsp;
                        </th>
                        <th class="border-bottom">
                            Uci Online
                        </th>
                        <th>
                            CBI
                        </th>
                        <th class="border-bottom">
                            Uci Online
                        </th>
                        <th>
                            CBI
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border-top-less">
                            To be signed
                        </td>
                        <td class="color-blue">
                            <span class="data-record">11</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">18</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">03</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">02</span> <span class="signed">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Partially signed
                        </td>
                        <td class="color-blue">
                            <span class="data-record">14</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">20</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">14</span> <span class="signed">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">07</span> <span class="signed">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            To be sent
                        </td>
                        <td class="color-blue">
                            <span class="data-record">03</span> <span class="rightup">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            <span class="data-record">12</span> <span class="rightup">&nbsp;</span>
                        </td>
                        <td class="color-blue">
                            0
                        </td>
                        <td class="color-blue">
                            <span class="data-record">05</span> <span class="rightup">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="color-blue">
                            Total
                        </td>
                        <td class="color-blue">
                            28
                        </td>
                        <td class="color-blue">
                            50
                        </td>
                        <td class="color-blue">
                            17
                        </td>
                        <td class="color-blue">
                            14
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>                                                                                           