<div class="col-md-6 col-sm-12" ng-drag="true" ng-drag-data="#Id">
    <div class="widget">
        <div class="widget-title">
            <h5>
                Account Balance
            </h5>
            <div class="dropdown">
                <div class="menu" data-toggle="dropdown"></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row widget-innerdiv">
            <ul class="nav nav-tabs">
                <li class="active col-md-4 col-sm-4"><a data-toggle="tab" href="#ucionline">Uci Online</a></li>
                <li class="col-md-4 col-sm-4"><a data-toggle="tab" href="#cbi">CBI</a></li>
                <li class="col-md-4 col-sm-4"><a class="cursor-none">&nbsp;</a></li>
            </ul>

            <div class="tab-content">
                <div id="ucionline" class="tab-pane fade in active">
                    <table class="account-balance-table table borderless scroll">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" /> Intraday
                                </th>
                                <th class="text-sm-right border-bottom">
                                    Booking Balance
                                </th>
                                <th class="text-sm-right border-bottom">
                                    Received Value Balance
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-top-less">
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="cbi" class="tab-pane fade">

                    <table class="account-balance-table table borderless">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" /> Intraday
                                </th>
                                <th class="border-bottom">
                                    Booking Balance
                                </th>
                                <th class="border-bottom">
                                    Received Value Balance
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-top-less">
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total USD
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total GBP
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total JPY
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total EUR
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                                <td class="text-sm-right color-blue">
                                    13.000,00
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>