<div class="col-md-6 col-sm-12" ng-drag="true" ng-drag-data="#Id">
    <div class="widget">
        <div class="widget-title">
            <h5>
                Top Favourites
            </h5>
            <div class="dropdown">
                <div class="menu" data-toggle="dropdown"></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </div>
        </div>
        <div class="row widget-innerdiv">
            <div class="panel-body tree-body">
                <div class="text-left">
                    <label class="tree-toggler nav-header color-blue"><i class="glyphicon glyphicon-folder-open tree-view-header"></i>Transactional</label>
                    <span class="caret tree-view-caret" data-toggle="collapse" data-target="#treeMenu"></span>
                </div>
                <ul class="collapse nav nav-list in subtree-list">
                    <li id="treeMenu">
                        <ul class="nav nav-list tree">
                            <li class="nav-list-tree-li sub-list-tree-li"><a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Make wire transert</a></li>
                            <li class="nav-list-tree-li sub-list-tree-li"><a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Bulk Payment</a></li>
                        </ul>
                    </li>
                    <li class="nav-list-tree-li">
                        <a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Discount Invoices</a>
                    </li>
                    <li class="nav-list-tree-li">
                        <a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Discount Invoices</a>
                    </li>
                    <li class="nav-list-tree-li">
                        <a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Discount Invoices</a>
                    </li>
                    <li class="nav-list-tree-li">
                        <a href="#" class="color-blue"><i class="glyphicon glyphicon-star"></i>Discount Invoices</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>